<div class="w3-row-padding">

  <form class="w3-panel w3-card-4 login-form" action="/action_page.php">
    <h2>Login</h2>

    <p><input id="username-login" class="w3-input" type="text" placeholder="Username"></p>
    <p><input id="password-login" class="w3-input" type="text" placeholder="Password"></p>
    <p><button class="w3-btn w3-black" type="submit">Login</button></p>

  </form>

</div>
<div class="w3-row-padding">

  <form class="w3-panel w3-card-4 signup-form" action="/action_page.php">
    <h2>Signup</h2>

    <p><input id="username-signup" class="w3-input" type="text" placeholder="Username"></p>
    <p><input id="password-signup" class="w3-input" type="text" placeholder="Password"></p>
    <p><button class="w3-btn w3-black" type="submit">Signup</button></p>

  </form>

</div>

<script src="/js/login.js"></script>