<div class="w3-row-padding">

  <form class="w3-panel w3-card-4 create-post-form" action="/action_page.php">
    <h2>Create Post</h2>

    <p><input id="post-title" class="w3-input" type="text" placeholder="Title"></p>
    <p><input id="post-content" class="w3-input" type="text" placeholder="Write your post here..."></p>
    <p><button class="w3-btn w3-black" type="submit">Submit</button></p>

  </form>
</div>

<script src="/public/js/create-post.js"></script>