{{> post-info post}}

{{#if loggedIn}}
<div class="w3-row-padding">

  <form class="w3-panel w3-card-4 comment-form" action="/action_page.php">
    <h2>Comment</h2>

    
    <p><input id="comment-input" class="w3-input" type="text" placeholder="Write your comment here..."></p>
    <p><button class="w3-btn w3-black" type="submit">Submit</button></p>

  </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/public/js/comment.js"></script>
{{/if}}